.wrapper{
  flex: 1 1 auto;
  /* display: flex; */
  width: 100%;
  /* min-height: calc(100vh - 188px); */
  justify-content: center;
  background-color: #dfdede;
  /* height: calc(100vh - 88px); */
  
}
.wrapperMain{
  width: 750px;
  display: flex;
  /* margin-left: -200px; */
  margin-left: -12%;
  /* min-height: calc(100vh - 88px); */
  height: calc(100vh - 80px);
}

.main{
    /* background-color: #dcdcdc; */
    background-image: url('../../images/backgroundMain.png'); /* Укажите путь к вашему изображению */
  background-repeat: repeat; /* Повторять изображение, чтобы создать бесшовный эффект */
  /* background-size: cover; */
    width: 100%;
    min-height: 100vh;
    
}

.content{
  /* min-height: 100%; */
  /* padding: 24px; */
  height: calc(100vh - 80px);
}