.messageMyWrapper{
    display: flex;
    justify-content: flex-end;
}

.messageAlienWrapper{
    display: flex;
    justify-content: flex-start;
}

.message {
    display: inline-block;
    max-width: 200px;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word; /* Для переноса длинных слов */
    overflow-wrap: break-word; /* Поддержка современных браузеров */
    white-space: normal; /* Убедитесь, что текст может переноситься */
}

.mine{
    background-color: aqua;    
    margin-right: 20px;
}

.alien{
    background-color: red;
    margin-left: 20px;
}

.text{
    font-size: 16px;
}

.date{
    font-size: 12px;
}