.room{
    background-color: beige;
    border: 1px solid black;
    min-height: 100px;
    display: flex;
}


.avatarWrapper{
    display: flex;
    align-items: center;
    padding-left: 8px;
    position: relative;
}

.isOnline{
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    position: absolute;
    right: 0px;
    bottom: 22px;
}

.avatar{
    margin-right: 10px;
    margin-top: -2px;
}

.info{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name{
    font-size: 18px;
}

.text{
    width: 320px; /* Установите нужную ширину */
    white-space: nowrap; /* Отключить перенос текста */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -3px;
}