.wrapper1{
    margin-bottom: 5px;
}
.wrapper2{
    padding: 10px 5px;
}
.myFriends{

}
.addFrend{

}
.active {
    background-color: aqua;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: #333333;
}

.sleep{
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 10px;

    padding: 5px 10px;
}

.hr{
    border: ;
}