.avtorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #666;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    min-width: 200px;
    max-width: 300px;
    height: 200px;
    padding: 5px;
  
    border: 1px solid white;
    border-radius: 5px;
    background-color: #777;
  }
  .back {
    align-self: center;
  }
  
  @media (max-width: 500px) {
    .form {
      min-width: 225px;
      max-width: 300px;
      height: 200px;
  
      padding: 5px;
      border: 1px solid white;
      border-radius: 5px;
    }
  }