.menu{
    display: flex;
    justify-content: space-between;
    background-color: #aaa;
    padding: 5px 10px;
    /* margin: -24px -24px 0 -24px; */
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    position: relative;
}